 /*
 * /sass/settings/_colors.scss - Global color variables
 * by Gabriel
 */



$backgroundColor: white;

$textColor: black;
/*$headerColor: ;*/

$linkColor: blue;
$linkHoverColor: complement( $linkColor );
